.upgradeCard {
  position: relative;
  width: 255px;
  background: var(--upgrade-gradient);
  border-radius: 20px;
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-shrink: 0;
  align-self: center;
}

.upgradeCardHide {
  display: none;
}

.sidebarCircle {
  position: relative;
  width: 90px;
  height: 90px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: none;
  border: 4px solid var(--secondary-border);
  border-radius: 100px;
  margin-top: -45px;
  background: var(--circle-upgrade-gradient);
}

.upgradeCardPara {
  position: relative;
  font-size: var(--small-fontsize);
  color: var(--light-color);
}

.upgradeCardText {
  font-weight: 600;
  position: relative;
  color: var(--light-color);
}

@media (max-width: 1023.98px) {
  .upgradeCardHide {
    display: block;
  }
}
