@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  background: var(--body-bg);
  font-family: var(--primary-font);
  color: var(--primary-color);
  overflow-wrap: break-word;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline: none;
}
button {
  cursor: pointer;
  border: none;
}
button:focus {
  outline: none;
}
p {
  font-weight: 400;
  font-size: 1rem;
}
h1 {
  font-size: clamp(1.6rem, 2.5vw, 2.4rem);
  line-height: 1.1em;
  font-weight: 600;
}
h2 {
  font-size: clamp(1.4rem, 2.2vw, 2.1rem);
  font-weight: 600;
  line-height: 1.1em;
}
h3 {
  font-size: clamp(1.3rem, 2vw, 1.8rem);
  font-weight: 600;
  line-height: 1.1em;
}
h4 {
  font-size: clamp(1.2rem, 1.8vw, 1.5rem);
  font-weight: 600;
  line-height: 1.1em;
}
h5 {
  font-size: clamp(1.1rem, 1.5vw, 1.25rem);
  font-weight: 600;
  line-height: 1.2em;
}
h6 {
  font-size: clamp(0.95rem, 1.2vw, 1.05rem);
  font-weight: 600;
  line-height: 1.2em;
}
